@CHARSET "UTF-8";
body {
	background : #666;
	background-image: url(mirchi.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
div {
	width : 50%;
	 text-align: center;
}